*
!Vagrantfile
!package.json
!Gruntfile.js
!.gitignore
!config/
!config/*
!config/**/*
!README.md
!app/
!app/*
!app/**/*
!app/**/**/*
!server/
!server/*
!server/**/*
!.ftpconfig
!.ftpignore
!.jshintrc

/*/.DS_Store
/*/**/.DS_Store
